.full-menu {
  background-color: #ffffef !important;
  color: #56593d;
  text-align: left;
  padding-left: 20px;
}

.home-link {
  background-color: #ffffef;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin: 0px;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.menu-img {
  width: 21rem;
  height: 21rem;
}

.full-menu-row {
  background-color: #ffffef;
  display: inline-block;
  width: 23rem;
  line-height: 15px;
}

.full-menu-column {
  background-color: #ffffef;
  width: 100%;
  text-align: left;
  padding-left: 15px;
  margin-top: 25px;
}
