.menu-by-type {
  background-color: #ffffef !important;
  font-size: 13px;
  color: #56593d;
  text-align: left;
  padding-left: 20px;
}

.menu-img {
  width: 21rem;
  height: 21rem;
}

.full-menu-row {
  background-color: #ffffef;
  display: inline-block;
  width: 23rem;
  line-height: 20px;
}

.full-menu-column {
  background-color: #ffffef;
  width: 92%;
  text-align: left;
  padding-left: 15px;
  margin-top: 25px;
}

.add-to-order-button {
  background-color: #56593d;
  color: #f8f0e2;
  font-weight: bold;
  width: 8rem;
  padding: 8px;
}

/* -------  Media Query ------- */

@media all and (max-width: 768px) {
  .menu-img {
    width: 16rem;
    height: 16rem;
  }

  .full-menu-row {
    display: inline-block;
    font-size: 12px;
    width: 95%;
  }

  .full-menu-column {
    width: 72%;
    margin-top: 10px;
  }

  .add-to-order-button {
    width: 5rem;
    padding: 5px;
    margin-top: 10px;
  }
}
