.welcome {
  background-color: #ffffef;
  color: #56593d;
  margin: auto;
  position: relative;
  text-align: center;
}

.first-img {
  width: fit-content;
  width: 95%;
  padding: 15px;
  border: 10px solid #f8f0e2;
}

.first-img-text {
  color: #56593d;
  font-family: "Courier New", Courier, monospace;
  font-size: 22px;
  text-align: center;
  padding-bottom: 5px;
  width: fit-content;
  width: 100%;
}

.first-header {
  color: #56593d;
  padding: 10px;
  margin: 0px;
  font-size: 40px;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h5 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  margin: 10px;
  text-align: center;
  color: #56593d;
}

.welcome-img {
  width: fit-content;
  border: 5px solid #ffffef;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.welcome-img:hover {
  opacity: 0.3;
}

.welcome-column {
  margin-top: -20px;
  float: left;
  width: 33.33%;
}

/* -------  Media Query ------- */

@media all and (max-width: 768px) {
  .nav,
  a {
    font-size: 16px;
    display: inline-block;
    justify-content: space-between;
    padding: 5px;
    padding-right: 0px;
    margin: 0px;
  }

  .first-img {
    width: 90%;
    padding: 0px;
  }

  .first-img-text {
    width: 95%;
    font-size: 14px;
    padding-bottom: 5px;
  }

  .first-header {
    font-size: 20px;
  }

  h5 {
    font-size: 12px;
    margin: 15px;
  }

  .welcome-column {
    margin-top: 3px;
    width: 95%;
  }
}
