.welcome {
  background-color: #ffffef;
  color: #56593d;
  margin: auto;
  position: relative;
  text-align: center;
}

.first-img {
  width: fit-content;
  width: 95%;
  padding: 15px;
  border: 10px solid #f8f0e2;
}

.first-img-text {
  color: #56593d;
  font-family: "Courier New", Courier, monospace;
  font-size: 22px;
  text-align: center;
  padding-bottom: 5px;
}

.first-header {
  color: #56593d;
  padding: 10px;
  margin: 0px;
  font-size: 40px;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h5 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  margin: 10px;
  text-align: center;
  color: #56593d;
}

.welcome-img {
  width: fit-content;
  border: 5px solid #ffffef;;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.welcome-img:hover {
  opacity: 0.3;
}

.welcome-column {
  margin-top: -20px;
  float: left;
  width: 33.33%;
}

/* -------  Media Query ------- 

@media all and (min-width: 768px) {
.welcome {
    display: block;
    justify-content: space-between;
    padding: 0 30px;
  }

  .first-img {
    width: min-content;
    padding: 15px;
    border: 10px solid #f8f0e2;
  }
  
  .first-img-text {
    color: #56593d;
    font-family: "Courier New", Courier, monospace;
    font-size: 22px;
    text-align: center;
    padding-bottom: 5px;
  }
  
  .first-header {
    color: #56593d;
    padding: 10px;
    margin: 0px;
    font-size: 40px;
    font-weight: 500;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  h5 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 18px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: #56593d;
  }
  
  .welcome-img {
    width: fit-content;
    border: 5px solid;
    border-color: #ffffef;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }
  
  .welcome-img:hover {
    opacity: 0.3;
  }
  
  .welcome-column {
    display: flex;
    flex-direction: row;
  }
  

}
*/